section #content {
  display: flex;
  flex-direction: column;
  padding: 1px;
}
h1 {
  font-weight: 700;
  line-height: 130%;
  margin-top: 2.4rem;
  margin-bottom: 1.4rem;
}
section #content p {
  
  font-size:18px;
}