nav {
  display:flex;
  margin-top: 1rem;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav.scroll svg:nth-child(1) path {
  fill:white;
}


nav.scroll button path {
  stroke:white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}